---
import Layout from "../layout/Layout.astro";
---

<Layout>
  <div class="mx-auto w-[60vw] pt-16 pb-32">
    <h1 class="mb-3 text-7xl">Julius's Website!</h1>
    <p class="mb-8 text-xl text-slate-500">A more minimal aproach...</p>
    <hr class="mx-16 mt-3 text-slate-500" />
    <h2 class="mt-4 w-full text-center text-2xl">Find me</h2>
    <ul class="flex w-full items-center justify-center *:mx-4">
      <a
        rel="me"
        target="_blank"
        href="https://github.com/JuliusDeBoer"
        class="text-purple-400 hover:underline">GitHub</a
      >
      &ndash;
      <a
        rel="me"
        target="_blank"
        href="https://www.linkedin.com/in/juliusdeboer"
        class="text-purple-400 hover:underline">LinkedIn</a
      >
      &ndash;
      <a
        rel="me"
        target="_blank"
        href="https://tangled.org/did:plc:7g6hc4rxiol3voq5aee2ust7"
        class="text-purple-400 hover:underline">Tangled</a
      >
    </ul>
  </div>
</Layout>
