---
import Layout from "../layout/Layout.astro";
---

<Layout>
  <div class="flex min-h-screen w-full flex-col items-center justify-center">
    <h1 class="text-7xl">Julius</h1>
    <p class="text-slate-500">A more minimal aproach...</p>
    <h2 class="mt-4 text-xl">More things:</h2>
    <ul>
      <a
        rel="me"
        target="_blank"
        href="https://github.com/JuliusDeBoer"
        class="text-purple-400 hover:underline">GitHub</a
      >
      &ndash;
      <a
        rel="me"
        target="_blank"
        href="https://www.linkedin.com/in/juliusdeboer"
        class="text-purple-400 hover:underline">LinkedIn</a
      >
      &ndash;
      <a
        rel="me"
        target="_blank"
        href="https://tangled.org/did:plc:7g6hc4rxiol3voq5aee2ust7"
        class="text-purple-400 hover:underline">Tangled</a
      >
    </ul>
  </div>
</Layout>
